[submodule "charts"]
	path = charts
	url = https:github.com/sergeyshevch/charts
	branch = charts
[submodule "sources/multi-gatekeeper"]
	path = sources/multi-gatekeeper
	url = https://github.com/sergeyshevch/multi-gatekeeper.git
	branch = main

